<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="">
  <ion-content class="padding">
    <img class="padding-left" src="img/global.png" />
    <div ng-repeat="category in chat.categories">
      <button class="button button-block button-stable" ng-click="toggleGroup(category)" ng-class="{active: isGroupShown(category)}">
        {{ category.name }}
      </button>
      <ion-list>
        <ion-item class="item-accordion" ng-repeat="subcategories in category.subcategories" ng-show="isGroupShown(category)">
          {{ subcategories.name }}
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
