<ion-view view-title="" id="departments-view">
  <ion-content>
    <img class="padding-header" src="img/global.png" />
    <div class="departments-list margin-list" ng-repeat="department in departments">
      <button class="button button-block button-{{department.color}}" ng-click="toggleGroup(department)" ng-class="{active: isGroupShown(department)}">
        {{ department.name }}
      </button>
      <ion-list>
        <ion-item class="item-accordion positive-light" ng-repeat="subcategories in department.categories" ng-show="isGroupShown(department)">
          {{ subcategories.name }}
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
