<ion-view view-title="cnnxt-mobile" id="department-view">
  <ion-content>
    <img class="padding-header" src="img/global.png" />
    <div class="container">
      <div class="list">
        <a class="item item-thumbnail-right" href="#">
          <img src="img/thumbnail.png">
          <h2>State of the Art Home</h2>
        </a>
      </div>
      <h4>Location: Floor 1</h4>
      <h4><a href="">www.theglobalcenter.com</a></h4>
      <h4>Hours: 8:30am - 5:00pm M-F</h4>
    </div>
  </ion-content>
</ion-view>
