#map-view {

  .list-instructions {
      padding: 0px 25px;
      // position: inherit;
      width: 100%;
      margin-bottom: 0px;

      .icon {
        font-size: 40px;
      }
    }

  .map-container {
    height: 45%;
    margin-bottom: 10px;

    > #directions-container {
      background: #E99D40;
      margin: 0px 25px;
      height: 100%;
    }

    > #direction-container {
      background: #E99D40;
      margin: 0px 25px;
      height: 100%;
    }

    > button {
      padding: 7px 12px;
    }
  }

  .list {
    position: absolute;
    width: calc(100% - 50px);

    > .item {
      text-align: center;
      padding: 10px 16px;
    }
  }

  .scroll {
    height: 100%;
  }
}
