#map-view {

  .map-container {
    height: 40%;
    margin-bottom: 10px;

    > #container {
      background: #E99D40;
      margin: 0px 25px;
      height: 100%;
    }

    > button {
      padding: 7px 12px;
    }
  }

  .list {
    position: absolute;
    width: calc(100% - 50px);

    > .item {
      text-align: center;
      padding: 10px 16px;
    }
  }

  .scroll {
    height: 100%;
  }
}
