.padding-header {
	padding: 15px 30px;
}

.margin-button {
	margin: 10px 30px;
}

.margin-list {
	margin: 10px 30px;
}

.button {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}