// Styles for ion-search directive

.search-input {
	background: $assertive;
	margin: 0;
	padding: 0px 25px !important;
	max-height: 105px;

	> h4 {
		color: $light;
	}

	> label {
		margin-bottom: 15px !important;
	}

	> .list {
		position: fixed;
		margin-left: -25px;
		width: 100%;
		z-index: 3;

		.item {
			color: #0073CF;
			padding-left: 25px;
		}

		.item-accordion {
			background: #E6F1FA;
			color: black;
		}
	}
}

.inverse {
	background: $light;
	border-bottom: 3px solid $assertive;

	> h4 {
		color: $assertive;
	}
}




